Инфопрога 2 сем/prez/prez.pdf

Инфопрога 2 сем/prez/images/1.pdf
Инфопрога 2 сем/prez/images/2.pdf
Инфопрога 2 сем/prez/images/3.pdf
Инфопрога 2 сем/prez/images/4.pdf

Инфопрога 2 сем/prez/prez.toc
Инфопрога 2 сем/prez/prez.synctex.gz
Инфопрога 2 сем/prez/prez.snm
Инфопрога 2 сем/prez/prez.out
Инфопрога 2 сем/prez/prez.nav
Инфопрога 2 сем/prez/prez.log
Инфопрога 2 сем/prez/prez.fls
Инфопрога 2 сем/prez/prez.fdb_latexmk
Инфопрога 2 сем/prez/prez.aux

Инфопрога 2 сем/ref/Images/1.pdf
Инфопрога 2 сем/ref/Images/2.pdf
Инфопрога 2 сем/ref/Images/3.pdf
Инфопрога 2 сем/ref/Images/4.pdf

Инфопрога 2 сем/ref/ref.aux
Инфопрога 2 сем/ref/ref.fdb_latexmk
Инфопрога 2 сем/ref/ref.fls
Инфопрога 2 сем/ref/ref.log
Инфопрога 2 сем/ref/ref.pdf
Инфопрога 2 сем/ref/ref.synctex.gz
Инфопрога 2 сем/ref/ref.toc

Введение в специальность/referat/ref.aux
Введение в специальность/referat/ref.fdb_latexmk
Введение в специальность/referat/ref.fls
Введение в специальность/referat/ref.log
Введение в специальность/referat/ref.synctex.gz
Введение в специальность/referat/ref.pdf
Введение в специальность/referat/ref.toc

Введение в специальность/presentation/pres.aux
Введение в специальность/presentation/pres.fdb_latexmk
Введение в специальность/presentation/pres.fls
Введение в специальность/presentation/pres.log
Введение в специальность/presentation/pres.out
Введение в специальность/presentation/pres.nav
Введение в специальность/presentation/pres.pdf
Введение в специальность/presentation/pres.snm
Введение в специальность/presentation/pres.synctex.gz
Введение в специальность/presentation/pres.toc

Физика/REF/ref.aux
Физика/REF/ref.fdb_latexmk
Физика/REF/ref.fls
Физика/REF/ref.log
Физика/REF/ref.synctex.gz
